body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: blue;
     font-family: 'Courier New', Courier, monospace;
}

#game-container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#bird {
    width: 50px; 
    height: 40px;
    position: absolute;
    left: 100px;
    bottom: 20%; 
    background-image: url('bird.png');
    background-size: contain;
    background-repeat: no-repeat;
    
}

#aeroplane {
    width: 80px;
    height: 40px;
    position: absolute;
    bottom: 20%;
    right: -100px; 
    background-image: url('aeroplane.png');
    background-size: contain;
    background-repeat: no-repeat;
    
}
